// tailwind.css
@import "tailwind.css";

// variables
@import "variables.scss";

// mixins
@import "mixins.scss";

//右侧滚动条
::-webkit-scrollbar {
    width: $sm-gap;
    height: $sm-gap;
    background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(95, 95, 95, .4);
    @include background-transition();

    &:hover {
        background-color: rgba(95, 95, 95, .7);
    }
}

