@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold
  }
  h2 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  h3 {
    @apply text-xl font-bold 
  }
  h4 {
    @apply text-lg font-bold 
  }
  h5 {
    @apply text-base font-bold 
  }
  h6 {
    @apply text-sm font-bold 
  }
}


/* 背景 */
@layer utilities {
    .dark-body-bg{
        background-color: #000;
    }
    .dark-theme-black{
        color: #fff;
    }
    .dark-theme-logo-rotate{
        filter: hue-rotate(180deg) brightness(300%) grayscale(100%);
    }
    .dark-primary-color{
        color: #fff;
    }
    .dark-primary-color-lighter{
        color: rgba(255, 255, 255, .8);
    }
    .dark-primary-color-translucent{
        color: rgba(255, 255, 255, .5);
    }
    .dark-module-bg{
        background-color: rgba(68, 68, 68, .6);
    }
    .dark-module-bg-opacity-5{
        background-color: rgba(0,0,0,0.5);
    }
    .dark-module-bg-opacity-8{
        background-color: rgba(0,0,0,0.8);
    }
    .dark-module-bg-opacity-9{
        background-color: rgba(0,0,0,0.9);
    }
    .dark-module-hover-bg{
        background-color:rgba(0,0,0,0.5)
    }
    .dark-module-hover-bg-opaqueness{
        background-color: transparent
    }
    .dark-module-hover-bg-opacity-3{
        background-color: rgba(0,0,0,0.3)
    }
    .dark-module-hover-bg-opacity-9{
        background-color: rgba(0,0,0,0.9)
    }
    .dark-module-hover-bg-10{
        background-color: rgba(0,0,0,0.5)
    }
    .dark-module-hover-bg-20{
        background-color: rgba(0,0,0,0.5)
    }
    .dark-module-hover-bg-40{
        background-color: rgba(0,0,0,0.5)
    }

    .dark-module-bg-opaque{
        background-color: #444444;
    }
    .dark-module-bg-lighter{
        background-color: rgba(68, 68, 68, .8);
    }
    .dark-module-bg-translucent{
        background-color: rgba(68, 68, 68, .5);
    }
    .dark-module-bg-darker-1{
        background-color: #2d2d2d;
    }
    .dark-module-bg-darker-2{
        background-color: #232323;
    }
    .dark-module-bg-darker-3{
        background-color: #141414;
    }
    .dark-module-bg-darker-4{
        background-color: #070707;
    }
    .dark-module-bg-darker-5{
        background-color: black;
    }
    .dark-text-reversal{
        color: rgba(68, 68, 68, .9);
    }
    .dark-link-color{
        color: rgba(255, 255, 255, .92);
    }
    .dark-link-hover{
        color: #fff;
    }
    .dark-text-color{
        color: #f0f0f0;
    }
    .dark-text-lighter{
        color: lighter(#f0f0f0, 20%);
    }
    .dark-text-darker{
        color: #bdbdbd;
    }
    .dark-text-secondary{
        color: rgba(240, 240, 240, .5);
    }
    .dark-text-disabled{
        color: rgba(240, 240, 240, .38);
    }
    .dark-text-divider{
        color: rgba(240, 240, 240, .26);
    }
}
@layer utilities {
  .body-bg{
    background-color: #e3e3e3;
  }
  .theme-black{
    color: #000;
  }
  .theme-logo-rotate{
    filter: none;
  }
  .primary-color{
    color: #0088f5;
  }
  .primary-color-lighter{
    color: rgba(0, 136, 245, .8);
  }
  .primary-color-translucent{
    color: rgba(0, 136, 245, .5);
  }
  .module-bg{
    background-color: rgba(255, 255, 255, .6);
  }
  .module-bg-opacity-5{
    background-color: hsla(0,0%,100%,0.5);
  }
  .module-bg-opacity-8{
    background-color: hsla(0,0%,100%,0.8);
  }
  .module-bg-opacity-9{
    background-color: hsla(0,0%,100%,0.9);
  }
  .module-hover-bg{
    background-color: hsla(0,0%,77.3%,0.5)
  }
  .module-hover-bg-opaqueness{
    background-color: hsla(0,0%,77.3%,0)
  }
  .module-hover-bg-opacity-3{
    background-color: hsla(0,0%,77.3%,0.3)
  }
  .module-hover-bg-opacity-9{
    background-color: hsla(0,0%,77.3%,0.9)
  }
  .module-hover-bg-10{
    background-color: hsla(0,0%,67.5%,0.5)
  }
  .module-hover-bg-20{
    background-color: hsla(0,0%,57.3%,0.5)
  }
  .module-hover-bg-40{
    background-color: rgba(95,95,95,0.5)
  }
  .module-bg-opaque{
    background-color: white;
  }
  .module-bg-lighter{
    background-color: rgba(255, 255, 255, .8);
  }
  .module-bg-translucent{
    background-color: rgba(255, 255, 255, .5);
  }
  .module-bg-darker-1{
    background-color: #e8e8e8;
  }
  .module-bg-darker-2{
    background-color: #dedede;
  }
  .module-bg-darker-3{
    background-color: #cfcfcf;
  }
  .module-bg-darker-4{
    background-color: #c2c2c2;
  }
  .module-bg-darker-5{
    background-color: #b5b5b5;
  }
  .text-reversal{
    color: rgba(255, 255, 255, .9);
  }
  .link-color{
    color: rgba(0, 0, 0, .74);
  }
  .link-hover{
    color: rgba(0, 0, 0, .86);
  }
  .text-color{
    color: rgba(0, 0, 0, .68);
  }
  .text-lighter{
    color: lighter(rgba(0, 0, 0, .68), 20%);
  }
  .text-darker{
    color: rgba(0, 0, 0, .68);
  }
  .text-secondary{
    color: rgba(0, 0, 0, .5);
  }
  .text-disabled{
    color: rgba(0, 0, 0, .38);
  }
  .text-divider{
    color: rgba(0, 0, 0, .26);
  }

}

@layer components {
  .bg-main {
    @apply  bg-white bg-opacity-70 text-black dark:bg-gray-700 dark:bg-opacity-60 dark:text-white;
  }
  .bg-hover {
    @apply hover:bg-opacity-100  dark:hover:bg-opacity-80;
  }
  .bg-inner{
    background-color: #e3e3e3;
    @apply  dark:bg-gray-600 
  }
  /* nav */
  .color-gray {
    @apply text-gray-500  dark:text-gray-200;
  }
  /* nav */
  .text-color-main {
    @apply text-slate-600 dark:text-slate-200;
  }

}


/* 骨架屏 */
@layer utilities {
  .skeleton-dark {
    background-color: rgba(100,100,100);
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.6) 8%,
        rgb(100,100,100) 18%,
        rgba(0, 0, 0, 0.6) 33%);
  }
}

/* markdown */
@layer utilities {
  .global-markdown-html-dark {
    code {
      border: 1px solid #2d2d2d;
      background-color: #141414;
      color: $link-color;
    }
    pre {
      background-color: #1e1e1e;
      code {
        color: #c9d1d9;
        border-color: transparent;
      }
    }
    pre .code-lines {
      background-color: #141414;
    }
    blockquote {
      background-color: #2d2d2d;
      border-left: 0.5em solid #232323;
    }
    pre::before {
      background-color: #2d2d2d;
    }
    ol>li:hover {
      background-color: #141414;
    }
    ul>li:hover {
      background-color: #141414 !important;
    }
  }
  .highlight-white {
    pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}
    .hljs{color:#24292e;background:#fff}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#d73a49}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#6f42c1}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#005cc5}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#032f62}.hljs-built_in,.hljs-symbol{color:#e36209}.hljs-code,.hljs-comment,.hljs-formula{color:#6a737d}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#22863a}.hljs-subst{color:#24292e}.hljs-section{color:#005cc5;font-weight:700}.hljs-bullet{color:#735c0f}.hljs-emphasis{color:#24292e;font-style:italic}.hljs-strong{color:#24292e;font-weight:700}.hljs-addition{color:#22863a;background-color:#f0fff4}.hljs-deletion{color:#b31d28;background-color:#ffeef0}
  }
  .highlight-dark { 
    pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}
    .hljs{color:#c9d1d9;background:#0d1117}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#ff7b72}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#d2a8ff}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#79c0ff}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#a5d6ff}.hljs-built_in,.hljs-symbol{color:#ffa657}.hljs-code,.hljs-comment,.hljs-formula{color:#8b949e}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#7ee787}.hljs-subst{color:#c9d1d9}.hljs-section{color:#1f6feb;font-weight:700}.hljs-bullet{color:#f2cc60}.hljs-emphasis{color:#c9d1d9;font-style:italic}.hljs-strong{color:#c9d1d9;font-weight:700}.hljs-addition{color:#aff5b4;background-color:#033a16}.hljs-deletion{color:#ffdcd7;background-color:#67060c}
  }
}


