// url
$cdn-url: '' !default;
$source-url: '' !default;

@function cdn-url($uri) {
  @return url($cdn-url + $uri);
}

@function force-source-url($uri) {
  @return url($source-url + $uri);
}


// links
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

// colors
$accent: #4caf50;
$red: #ff5722;
$yellow: #ffeb3b;
$grey: #efefef;
$white: #ffffff;
$black: #000000;
$black-light: #555555;

// golden
$golden-ratio: 0.618;

// gap
$gap: 0.75rem; // ~12px
$sm-gap: $gap * $golden-ratio; // ~8px
$xs-gap: calc($sm-gap / 2); // ~4px
$lg-gap: $sm-gap * 2; // ~14px

// times
$transition-time-fast: .1s;
$transition-time-normal: .25s;
$transition-time-slow: .38s;

// Z indexs
$z-index-top: 99999;
$z-index-header: 999;
$z-index-toolbox: 9;
$z-index-normal: 0;
$z-index-underground: -9;


// PC
$header-height: 3.8rem;
$footer-height: 3rem;
$container-width: 66rem;
$navbar-width: 10rem;
$main-width: 37rem;
$aside-width: 17rem;
$block-button-height: 3.4rem;
$active-content-full-height: calc(100vh - #{$header-height + $lg-gap + $footer-height + $lg-gap});

// Mobile
$mobile-header-height: 5rem;
$mobile-footer-height: $lg-gap * 4;
$mobile-aside-bg: #34393d;
$mobile-aisde-transition: all $transition-time-slow ease-out;

// breakpoints
$small-breakpoint: 400px;
$large-breakpoint: $container-width;


// typography
$font-size-root: 12px;
$font-size-base: 14px;
$font-size-large: $font-size-base * 1.25; // ~17.5px
$font-size-small: $font-size-base * .888; // ~12.4px

$font-size-h1: $font-size-base * 1.7; // ~23.8px
$font-size-h2: $font-size-base * 1.45; // ~20.3px
$font-size-h3: $font-size-base * 1.3; // ~18.2px
$font-size-h4: $font-size-base * 1.15; // ~16.1px
$font-size-h5: $font-size-base;  // ~14px
$font-size-h6: $font-size-base * 0.95; // ~13.3px

$line-height-base: 1.4;






